# {{ ansible_managed }}

upstream {{ NGINX_UPSTREAM_NAME }} {
    {% for item in NGINX_UPSTREAMS %}
      server {{ item }};
    {% endfor %}
  }


server {
  listen {{ NGINX_LISTEN_PORT }};
  server_name {{ NGINX_SERVER_NAME }};
  location {{ NGINX_LOCATION_PATH }} {
    return 301;
  }
}
